{% macro tag_div(name, id, created_by, description, active) -%}
<div class="tag {% if active %}text-content{% else %}inactive-tag{% endif %}">
    <h4>Tag: {{name}}{% if not active %} <i>(hidden)</i>{% endif %}</h4>
    <p><strong>Added By:</strong> {{created_by.username}}</p>
    <p><strong>Description:</strong> {{description}}</p>
    {% if created_by == user or user.role.value == 0 %}
    <div class="text-center tag-buttons">
        <a href="/tags/{{id}}/edit" class="btn btn-primary btn-block">Edit Tag</a>
        {% if active %}
        <form method="POST" action="/tags/{{id}}/hide" class="form-inline form-one-button">
            <button class="btn btn-warning btn-block">Hide Tag</button>
        </form>
        {% else %}
        <form method="POST" action="/tags/{{id}}/show" class="form-inline form-one-button">
            <button class="btn btn-warning btn-block">Show Tag</button>
        </form>
        {% endif %}
        <form method="POST" action="/tags/{{id}}/delete" class="form-inline form-one-button">
            <button class="btn btn-danger btn-block">Delete Tag</button>
        </form>
    </div>
    {% endif %}
</div>
{%- endmacro %}

{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <h1 id="main-title">Tags In The Database</h1>
    <div class="text-center">
        <a href="/tags/new" class="btn btn-primary btn-block btn-lg">Add New Tag</a>
    </div>
    <div class="col-md-8 col-lg-6" id="tags">
        {% for tag in tags %}
            {{tag_div(tag.name, tag.id, tag.created_by, tag.description, tag.active)}}
        {% endfor %}
        {% for tag in hidden %}
            {{tag_div(tag.name, tag.id, tag.created_by, tag.description, tag.active)}}
        {% endfor %}
    </div>
</div>
{% endblock %}