{% from "tags/tag.html" import tag_div %}

{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <h1 id="main-title">Tags In The Database</h1>
    <div class="text-center">
        <a href="/tags/new" class="btn btn-primary btn-block btn-lg">Add New Tag</a>
    </div>
    <div class="col-md-8 col-lg-6" id="tags">
        {% for tag in tags %}
            {{tag_div(tag.name, tag.id, tag.created_by, tag.description, tag.active, user)}}
        {% endfor %}
        {% for tag in hidden %}
            {{tag_div(tag.name, tag.id, tag.created_by, tag.description, tag.active, user)}}
        {% endfor %}
    </div>
</div>
{% endblock %}