{% from "movies/comment.html" import comment %}

{% extends 'base.html' %}

{% block content %}
<div id="movie-page">
    {% include "movies/card.html" %}
    <hr/>
    {% if comments|length > 0 %}
    <div class="movie-page-section">
        <h3>Tag Statistics</h3>
        <div class="movie-stats">
            <h4>Tag Stats:</h4>
            <canvas id="tagStats"></canvas>
            <h4>Tag Totals:</h4>
            <ul>
            {% for v, k in stats %}
                <li><strong><a href="/tags/{{tag_ids[k]}}">{{k}}</a>:</strong> {{v}}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <hr/>
    {% endif %}
    <div class="movie-page-section text-center">
        {% if not user %}
            <h4><a href="/signup">Sign up</a> or <a href="/login">Log In</a> to leave a comment.</h4>
        {% elif user.role.value > 30 %}
            <h4>You have been banned from adding content to the database.</h4>
        {% elif user_comment %}
            <h3>Your Comment</h3>
            {{comment(user_comment.id, user, user_comment.subject, user_comment.text, user_comment.tags, movie, user)}}
        {% else %}
            <a href="/m/{{movie.id}}/add" class="btn btn-primary btn-block btn-lg">Add A Comment</a>
        {% endif %}
    </div>
    <hr/>
    <div class="movie-comments movie-page-section">
        <h3>User Comments</h3>
        {% if comments|length == 0 %}
        <div class="movie-comment">
            <h5 class="text-center m-0">No comments yet.</h5>
        </div>
        {% else %}
        {% for c in comments %}
            {% if c.user.role.value < 30 %}
                {{comment(c.id, c.user, c.subject, c.text, c.tags, movie, user)}}
            {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
<script>
    const stats = {{ stats | tojson | safe }};
    const totals = stats.map(tag => tag[0]);
    const labels = stats.map(tag => tag[1]);
    const canvas = document.getElementById("tagStats");
    const length = labels.length
    canvas.height = length * 20;

    const chart = new Chart(canvas, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: "Number of Tags",
                data: totals,
                borderColor: Array.from({length}).map( (e, i) => i % 2 ? "red" : "blue"),
                backgroundColor: Array.from({length}).map( (e, i) => i % 2 ? "rgba(255, 0, 0, 0.5)" : "rgba(0, 0, 255, 0.5)")
            }]
        },
        options: {
            indexAxis: 'y',
            plugins: {
                legend: {
                display: false
                }
            },
            elements: {
                bar: {
                    borderWidth: 2,
                }
            },
            responsive: true,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}