body, h1, h2, h3, h4, h5, h6, p {
    font-family: 'Work Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: bolder;
}

a {
    color: #0d6efd;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    color: #0156d3;
}

.form-one-button {
    display: inline;
}

.inactive-tag {
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: rgba(255, 0, 0, 0.6);
}

.form-control {
    font-family: 'Work Sans', sans-serif;
}

.navbar {
    background-color: black;
    text-align: center;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: yellow;
}

.navbar-brand {
    font-family: 'Rubik Mono One', sans-serif;
}

.navbar-toggler {
    color: white;
}

.text-content {
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: lightgrey;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}

.footer p {
    margin: 0;
    font-weight: bold;
}

.footer .messages {
    padding: 1rem;
}

.footer .danger {
    color: red;
}

.footer .success {
    color: yellow;
}

.search-results {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.user-profile-comments {
    width: 100%;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: lightgrey;
}

.user-profile-comments h3 {
    text-align: center;
}

.movie-page-section h3 {
    text-align: center;
}

#movie-page {
    width: 100%;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: lightgrey;
}

#movie-page .movie-card {
    height: max-content;
    padding: 0;
    margin: 0;
}

#movie-page .movie-card {
    height: max-content;
}

#movie-page .movie-card .movie-card-overview {
    height: max-content;
}

#movie-page .movie-card-tmdb {
    display: block;
}

.movie-card {
    width: 100%;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: lightgrey;
    display: flex;
    height: 158px;
}

.movie-card-img img{
    width: 94px;
    height: 141px;
}

.hide-link {
    color: black;
}

.movie-card-text {
    font-size: 0.8em;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
}

.movie-card-title {
    width: 100%;
}

.movie-card-title h4 {
    margin: 0;
}

.movie-card-title p {
    font-style: italic;
    margin: 0;
}

.movie-card-overview {
    width: 100%;
    height: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-card-tmdb {
    display: none;
}

.movie-stats {
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}

.movie-comment {
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
}

#content {
    padding: 1rem;
}

#main-title {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bolder;
}

#form-search-main div{
    margin: 1rem;
}

#form-search-main h4 {
    font-size: 1.3rem;
    font-weight: bolder;
}

#form-search-main input {
    width: 100%;
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
}

#user_form input.form-control {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    margin: 1rem 0;
}

#about {
    padding: 1rem;
    margin: 1rem;
}

#about img {
    margin: 1rem 0;
}

#user-profile {
    text-align: center;
}

#about a {
    text-decoration: none;
    font-weight: bolder;
}

/* button spacing and size */

@media (min-width: 1200px) {
    .tag-buttons .btn {
        margin: 0.5rem 1rem;
    }
}

@media (min-width: 576px) {
    .tag-buttons .btn {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        border-radius: 0.3rem;
    }
}

.submit-cancel .btn {
    margin: 0.5rem 1rem;
}

@media (min-width: 576px) {
    .submit-cancel .btn {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
        border-radius: 0.3rem;
    }
}

/* Minimum site main container width */

@media (max-width: 360px) {
    #content {
        padding-top: 4rem;
        width: 360px;
    }

    #navbar-main {
        position: fixed;
        width: 100vw;
    }
}

/* BIMD top logo resizing */

#navbar-main {
    height: 3.5rem;
}

#bimd-logo-short {
    display: none;
}

@media (max-width: 550px) {
    #bimd-logo-short {
        display: inline;
    }
    #bimd-logo-long {
        display: none;
    }
}

@media (max-width: 200px) {
    #bimd-logo-short {
        position: fixed;
        top: 0.8rem;
    }
}

/* Search pages styles */

.search-list {
    margin: 0;
    padding: 0;
    text-overflow: hidden;
    overflow: hidden;
    white-space: nowrap;
}

.search-list li {
    font-size: 2rem;
    margin: 0.2rem;
    font-weight: bolder;
    display: inline-block;
    list-style: none;
}

#search-pages {
    width: fit-content;
    margin: 0 auto;
}

#search-pages h4 {
    padding: 0.5rem;
    margin: 0;
}

@media (max-width: 800px) {
    .search-list li {
        font-size: 1.5rem;
    }
}


@media (max-width: 550px) {
    .search-list li {
        font-size: 1rem;
    }
}

@media (max-width: 400px) {
    .search-list .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        border-radius: 0.2rem;
    }
}