{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center">
    <h1 id="main-title">About the Bigotry In Media Database</h1>
    <div class="col-md-8 col-lg-6 text-content" id="about">
        <p>The Bigotry In Media Database is a resource for users to learn about potential bigotry in a particular movie before watching it.</p>
        <p>Users can also add their own comments and tags to the database about bigotry they have found in movies that they have watched.</p>
        <p>The goal of the database is to arm users with helpful information so that they can avoid being surprised with unpleasant bigotry when watching a movie.</p>
        <p><a href="/">You can search for a movie in the database here.</a></p>
        <p><a href="/signup">Or sign up for an account to add to the database here.</a></p>
    </div>
</div>
{% endblock %}